.hero {
    background-image: url('path/to/your/image.jpg');
    background-size: cover;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero h1, .hero p {
    position: relative;
    z-index: 2;
}
